<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="partner-logo owl-carousel">
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 100px; height: 100px">
                    <img src="{{ asset('img/ecuries/redbull.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 45px; height: 45px">
                    <img src="{{ asset('img/ecuries/ferrari.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 75px; height: 75px">
                    <img src="{{ asset('img/ecuries/mclaren.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 75px; height: 75px">
                    <img src="{{ asset('img/ecuries/mercedes.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 75px; height: 75px">
                    <img src="{{ asset('img/ecuries/astonmartin.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 75px; height: 75px">
                    <img src="{{ asset('img/ecuries/rb.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 75px; height: 75px">
                    <img src="{{ asset('img/ecuries/haas.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 55px; height: 55px">
                    <img src="{{ asset('img/ecuries/williams.png') }}" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell" style="width: 55px; height: 55px">
                    <img src="{{ asset('img/ecuries/stake.png') }}" alt="">
                </div>
            </a>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-text">
                    <div class="ft-logo">

                        <a href="#" style="height: 45px; width: 45px" class="footer-logo"><img src="{{ asset('img/footer-logo_f1.png') }}" alt=""></a>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ path('event_list') }}">Grand Prix</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->