{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>
    {{ form_start(profileForm) }}
    {{ form_row(profileForm.firstName) }}
    {{ form_row(profileForm.lastName) }}
    {{ form_row(profileForm.email) }}
    {{ form_row(profileForm.plainPassword.first) }}
    {{ form_row(profileForm.plainPassword.second) }}
    <button type="submit" class="btn btn-primary">Update Profile</button>
    {{ form_end(profileForm) }}
{% endblock %}
